<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tut_schaltjahr/src/tut_schaltjahr/aufg1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tut_schaltjahr.aufg1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tut_schaltjahr"/>
</launchConfiguration>
